img {

    width: 90px;
    height: 90px;
    display: block;


}

header, footer {
    background-color: #134A7F ;
    text-align: center;
    font-family: 'Comfortaa', cursive;

}
a {
    text-decoration: none;
    color: white;

}
ul {
    list-style-type: none;
}

h1 {
    color: #DDDDDD;
}
nav {
    min-height: 10vh;
    display: flex;
    width: 90%;
    margin: auto;
    padding: 2rem;

}
nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
}
 #logo {
     flex: 1 1 40rem;

 }

 footer {
     color: white;
     margin: auto;
     padding: 2rem;
 }