{% extends 'base.html.twig' %}

{% block title %}Administration du site{% endblock %}

{% block body %}



    <h1>Hello Administrateur! ✅</h1>

<div>
    <ul>
        <li><a href="{{ path('campus_index') }}">Accès Campus</a></li>
        <li><a href="">Accès Etat</a></li>
        <li><a href="">Accès Lieu</a></li>
        <li><a href="">Accès Participant</a></li>
        <li><a href="">Accès Sortie</a></li>
        <li><a href="">Accès Ville</a></li>
        <li><a href="">Accès Securité</a></li>
    </ul>



</div>

{% endblock %}
