<form method="post"  action="{{ path('sortie_annuler', {'id': sortie.id}) }}" onsubmit="return confirm('Voulez vous Annuler cette sortie ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('annuler' ~ sortie.id) }}">
    <button class="btn">Annuler</button>
</form>