<form method="post" action="" onsubmit="return confirm('Vous êtes vraiment certain de vouloir annuler votre participation ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('desinscription' ~ sortie.id) }}">
    <button class="btn">Se désinscrire</button>
</form>

