{# {% if form is defined %}  #}
<div class="hidden md:flex md:flex-nowrap md:container">
{{ form_start(form) }}
    {{ form_widget(form) }}
<button class="btn">{{ button_label|default('Rechercher') }}</button>
{{ form_end(form) }}
</div>
{# {% endif %} #}