<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projet Symfony</title>
</head>
<body>
<div class="container">
    <header>
        <h1><a href="{{ path("main_accueil_deconecte") }}"><img src="{{ asset("image/logoEni.jpg") }}" alt="Sortir.com"></a></h1>
        <h1>Sortir.com</h1>
        {% include ("inc/nav.html.twig") %}
    </header>
</div>

{% block body %}
    Placeholder
{% endblock %}


<footer>
    <div>{{ "now" | date("Y") }} Sortir.com</div>
</footer>

</body>
</html>