{% extends 'base.html.twig' %}

{% block title %}Importation CSV{% endblock %}

{% block body %}
<h1> Importation CSV</h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}

        <button class="btn"> submit </button>
{{ form_end(form) }}

{% endblock %}
